<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Spring Boot with Thymeleaf</title>

    <!-- TODO: This link doesn't work:   -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>Registration</h1>
    <p>Please fill the registration form below.</p>

    <form th:action="@{/register}" th:object="${registrationDetails}" method="post">
        <label for="usernameInput">Username</label>
        <input id="usernameInput" type="text" name="username" placeholder="Your username here" />
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error">Error here</span>
        <hr />

        <label for="emailInput">Email</label>
        <input id="emailInput" type="email" name="email"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error">Error here</span>
        <hr />

        <label for="passwordInput">Password</label>
        <input id="passwordInput" type="password" name="password"/>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error">Error here</span>
        <hr />

        <button type="submit">Register</button>
    </form>

</body>
</html>